In [1]:
import digi

In [2]:
keywords = digi.get_keywords('keywords.csv')
API_key = digi.get_serpapi_key('serpapikey.txt')
google_client = digi.login_to_google('model-charge-315701-f88b0b2bb1ca.json')

# Serp Api Google jobs

In [3]:
search_text = digi.set_searches()        
search_text

['Sky Data jobs']

In [4]:
df = digi.search_all_jobs(search_text,API_key)

https://serpapi.com/search

In [5]:
df

,title,company_name,location,via,description,thumbnail,extensions,detected_extensions,job_id,search_term
0,Data Designer,Sky,Livingston,via LinkedIn,Want to do the best work of your life? Make yo...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[26 days ago, Full–time]","{'posted_at': '26 days ago', 'schedule_type': ...",eyJqb2JfdGl0bGUiOiJEYXRhIERlc2lnbmVyIiwiaHRpZG...,Sky Data jobs
1,Data Engineer,SKY Italia,Livingston,via Glassdoor,Want to do the best work of your life? Make yo...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[7 days ago, Full–time]","{'posted_at': '7 days ago', 'schedule_type': '...",eyJqb2JfdGl0bGUiOiJEYXRhIEVuZ2luZWVyIiwiaHRpZG...,Sky Data jobs
2,Network Data Scientist,Sky,United Kingdom,via LinkedIn,Want to do the best work of your life? Make yo...,https://encrypted-tbn0.gstatic.com/images?q=tb...,[Full–time],{'schedule_type': 'Full–time'},eyJqb2JfdGl0bGUiOiJOZXR3b3JrIERhdGEgU2NpZW50aX...,Sky Data jobs
3,Data Platform Infrastructure Engineer,Sky,United Kingdom,via LinkedIn,Want to do the best work of your life? Make yo...,https://encrypted-tbn0.gstatic.com/images?q=tb...,[Full–time],{'schedule_type': 'Full–time'},eyJqb2JfdGl0bGUiOiJEYXRhIFBsYXRmb3JtIEluZnJhc3...,Sky Data jobs
4,Automation Tester,Sky Group,Leeds,via Diversifying.io,We believe in better. And we make it happen.\n...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[7 days ago, Full–time]","{'posted_at': '7 days ago', 'schedule_type': '...",eyJqb2JfdGl0bGUiOiJBdXRvbWF0aW9uIFRlc3RlciIsIm...,Sky Data jobs
5,Senior Performance Analyst,Sky,Leeds,via LinkedIn,"As Senior Performance Analyst, you will work w...",https://encrypted-tbn0.gstatic.com/images?q=tb...,"[7 days ago, Full–time]","{'posted_at': '7 days ago', 'schedule_type': '...",eyJqb2JfdGl0bGUiOiJTZW5pb3IgUGVyZm9ybWFuY2UgQW...,Sky Data jobs
6,Senior Test Analyst - Automation,Sky,Livingston,via WorkingWise,We believe in better. And we make it happen.\n...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[3 days ago, Full–time]","{'posted_at': '3 days ago', 'schedule_type': '...",eyJqb2JfdGl0bGUiOiJTZW5pb3IgVGVzdCBBbmFseXN0IC...,Sky Data jobs
7,Senior Data Engineer - Test,Sky,Livingston,via Glassdoor,Want to do the best work of your life? Make yo...,https://encrypted-tbn0.gstatic.com/images?q=tb...,[Full–time],{'schedule_type': 'Full–time'},eyJqb2JfdGl0bGUiOiJTZW5pb3IgRGF0YSBFbmdpbmVlci...,Sky Data jobs
8,Data Engineer - Visualisation,Sky Group,United Kingdom,via Fish4jobs,We believe in better. And we make it happen.\n...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[8 days ago, Full–time]","{'posted_at': '8 days ago', 'schedule_type': '...",eyJqb2JfdGl0bGUiOiJEYXRhIEVuZ2luZWVyIC0gVmlzdW...,Sky Data jobs
9,IP Network Engineer (with Python and Data Anal...,Sky,United Kingdom,via LinkedIn,Want to do the best work of your life? Make yo...,https://encrypted-tbn0.gstatic.com/images?q=tb...,"[27 days ago, Full–time]","{'posted_at': '27 days ago', 'schedule_type': ...",eyJqb2JfdGl0bGUiOiJJUCBOZXR3b3JrIEVuZ2luZWVyIC...,Sky Data jobs

## Cleaning

In [6]:
df2 = digi.remove_senior_jobs(df)
df2 = digi.find_skills(df2,keywords)

In [7]:
df3 = digi.extensions_cleaning(df2)
df3 = digi.search_term_cleaning(df2)

c:\Users\Tym\GG\digi.py:131: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df.fillna(value=pd.np.nan, inplace=True)
c:\Users\Tym\GG\digi.py:138: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['posted_days_ago'] = df['posted_days_ago'].str.replace("[","")
c:\Users\Tym\GG\digi.py:140: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['posted_days_ago'] = df['posted_days_ago'].str.replace("]","")
c:\Users\Tym\GG\digi.py:141: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['type'] = df['type'].str.replace("]","")
c:\Users\Tym\GG\digi.py:142: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['type'] = df['type'].str.replace("[","")

In [8]:
df3

,title,company_name,location,via,skills,description,extensions,job_id,search_term,posted_days_ago,type,time_type,date_posted,pathway
0,Data Designer,Sky,Livingston,via LinkedIn,"excel,git,java,sql",Want to do the best work of your life? Make yo...,"['26 days ago', 'Full–time']",eyJqb2JfdGl0bGUiOiJEYXRhIERlc2lnbmVyIiwiaHRpZG...,Sky Data jobs,26,Full–time,1.0,2022-10-09,Data
1,Data Engineer,SKY Italia,Livingston,via Glassdoor,"azure,cloud,etl,excel,sql",Want to do the best work of your life? Make yo...,"['7 days ago', 'Full–time']",eyJqb2JfdGl0bGUiOiJEYXRhIEVuZ2luZWVyIiwiaHRpZG...,Sky Data jobs,7,Full–time,1.0,2022-10-28,Data
2,Network Data Scientist,Sky,United Kingdom,via LinkedIn,"aws,cloud,docker,kubernetes,python,sql",Want to do the best work of your life? Make yo...,['Full–time'],eyJqb2JfdGl0bGUiOiJOZXR3b3JrIERhdGEgU2NpZW50aX...,Sky Data jobs,40,Full–time,40.0,2022-09-25,Data
3,Data Platform Infrastructure Engineer,Sky,United Kingdom,via LinkedIn,"cloud,docker,gcp,git,kubernetes,linux,python,sql",Want to do the best work of your life? Make yo...,['Full–time'],eyJqb2JfdGl0bGUiOiJEYXRhIFBsYXRmb3JtIEluZnJhc3...,Sky Data jobs,40,Full–time,40.0,2022-09-25,Data
4,Automation Tester,Sky Group,Leeds,via Diversifying.io,"git,java,javascript",We believe in better. And we make it happen.\n...,"['7 days ago', 'Full–time']",eyJqb2JfdGl0bGUiOiJBdXRvbWF0aW9uIFRlc3RlciIsIm...,Sky Data jobs,7,Full–time,1.0,2022-10-28,Data
5,Data Engineer - Visualisation,Sky Group,United Kingdom,via Fish4jobs,"excel,looker,power bi,sql,tableau",We believe in better. And we make it happen.\n...,"['8 days ago', 'Full–time']",eyJqb2JfdGl0bGUiOiJEYXRhIEVuZ2luZWVyIC0gVmlzdW...,Sky Data jobs,8,Full–time,1.0,2022-10-27,Data
6,IP Network Engineer (with Python and Data Anal...,Sky,United Kingdom,via LinkedIn,"cloud,docker,kubernetes,python,sql",Want to do the best work of your life? Make yo...,"['27 days ago', 'Full–time']",eyJqb2JfdGl0bGUiOiJJUCBOZXR3b3JrIEVuZ2luZWVyIC...,Sky Data jobs,27,Full–time,1.0,2022-10-08,Data

In [15]:
keep_columns = ["title","company_name","location","via","pathway","skills","description","type","date_posted","posted_days_ago","job_id"]
df4 = df3[keep_columns]

In [16]:
df4

,title,company_name,location,via,pathway,skills,description,type,date_posted,posted_days_ago,job_id
0,Data Designer,Sky,Livingston,via LinkedIn,Data,"excel,git,java,sql",Want to do the best work of your life? Make yo...,Full–time,2022-10-09,26,eyJqb2JfdGl0bGUiOiJEYXRhIERlc2lnbmVyIiwiaHRpZG...
1,Data Engineer,SKY Italia,Livingston,via Glassdoor,Data,"azure,cloud,etl,excel,sql",Want to do the best work of your life? Make yo...,Full–time,2022-10-28,7,eyJqb2JfdGl0bGUiOiJEYXRhIEVuZ2luZWVyIiwiaHRpZG...
2,Network Data Scientist,Sky,United Kingdom,via LinkedIn,Data,"aws,cloud,docker,kubernetes,python,sql",Want to do the best work of your life? Make yo...,Full–time,2022-09-25,40,eyJqb2JfdGl0bGUiOiJOZXR3b3JrIERhdGEgU2NpZW50aX...
3,Data Platform Infrastructure Engineer,Sky,United Kingdom,via LinkedIn,Data,"cloud,docker,gcp,git,kubernetes,linux,python,sql",Want to do the best work of your life? Make yo...,Full–time,2022-09-25,40,eyJqb2JfdGl0bGUiOiJEYXRhIFBsYXRmb3JtIEluZnJhc3...
4,Automation Tester,Sky Group,Leeds,via Diversifying.io,Data,"git,java,javascript",We believe in better. And we make it happen.\n...,Full–time,2022-10-28,7,eyJqb2JfdGl0bGUiOiJBdXRvbWF0aW9uIFRlc3RlciIsIm...
5,Data Engineer - Visualisation,Sky Group,United Kingdom,via Fish4jobs,Data,"excel,looker,power bi,sql,tableau",We believe in better. And we make it happen.\n...,Full–time,2022-10-27,8,eyJqb2JfdGl0bGUiOiJEYXRhIEVuZ2luZWVyIC0gVmlzdW...
6,IP Network Engineer (with Python and Data Anal...,Sky,United Kingdom,via LinkedIn,Data,"cloud,docker,kubernetes,python,sql",Want to do the best work of your life? Make yo...,Full–time,2022-10-08,27,eyJqb2JfdGl0bGUiOiJJUCBOZXR3b3JrIEVuZ2luZWVyIC...

### Connect to Google Sheets

In [19]:
digi.save_to_google("Jobsv2","Sheet1",google_client,df4)

In [20]:
df4.to_csv("output.csv")